



    <ion-view>
        <ion-content scroll="false">
            <ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>
                <ion-slide view-title="HOME" ion-slide-tab-label="HOME" href="#/tabs/home">
                  <ion-view title="Home" id="page5">
    <ion-content padding="true" class="has-header">
          <div class="list card">
            <div class="item item-image">
              <img src="img/card-saopaolo.png"/>
            </div>
            <div class="item item-image">
              <img src="img/card-madison.png"/>
            </div>
            <div class="item item-image">
              <img src="img/card-amsterdam.png"/>
            </div>
            <div class="item item-image">
              <img src="img/card-sf.png"/>
            </div>
        </div>
    </ion-content>
</ion-view>
                </ion-slide>
                <ion-slide view-title="GROUPEX" ion-slide-tab-label="GROUPEX"><h1>GROUPEX</h1></ion-slide>
                <ion-slide view-title="EVENTS" ion-slide-tab-label="EVENTS"><h1>EVENTS</h1></ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-view>




